<label class="form-control w-full max-w-lg">
  <div class="label">
    <span class="label-text">
      {{ label }}
      {% if required %}
        <span class="text-error">*</span>
      {% endif %}
    </span>
  </div>
  <input
    type="text"
    {{ required ? 'required' : '' }}
    id="{{ id }}"
    placeholder="{{ attr.placeholder ?? label }}"
    class="input input-bordered w-full max-w-lg"
    name="{{ full_name }}"
    value="{{ value }}"
    {% for key, value in attr %}
      {{ key }}="{{ value }}"
    {% endfor %}
    />
    <div class="label">
      <span class="label-text-alt">{{ help }}</span>
    </div>
  </label>